body{
    background-color: #5e86a2;
}#login{
    width: 370px !important;
}
.login h1{
    line-height: normal !important;
    color: #fff;
}
p#nav
{
display: none;
}
p#backtoblog
{
display: none;
}
.login #login_error {
    margin-top: 20px !important;
}