html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #5e86a2;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}
p{
    position: relative;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.content {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

.logo {
    margin-bottom: 10px;
}

.profile-container {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    padding: 20px;
    margin: 20px 10px 0;
    background-color: white;
    color: #445878;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 3px solid transparent;
}

.profile-container:hover {
    border-color: #1C1D21;
    color: #1C1D21;
}

.circle-mask {
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
}

.circle-mask, .circle-mask img {
    width: 50px;
    height: 50px;
}

.circle-mask.contains-text {
    display: table;
    background-color: #92CDCF;
}

.circle-mask.contains-text span {
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
    color: white;
}

.how-it-works li {
    display: block;
    font-size: 2em;
    list-style-type: none;
    margin-bottom: 20px;
}
.how-it-works li a{
    text-decoration: underline;
}
#extension-icon-hint {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: 5px;
}
#icon-pointer{
    position: absolute;
    bottom: -32px;
}